<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>CyberSec Blog</title>
</head>
<body>
<h1>New Post</h1>
<form action="/post/newpost" method="post" enctype="multipart/form-data">
    <p>Author: </p>
    <input type='text' name='author' value='{{#author}}{{.}}{{/author}}'/>
    <p>Title:</p>
    <input type='text' name='title'/>
    <p>Text:</p>
    <h3>Category: </h3>
    <textarea name='text' rows=5 cols=40></textarea>
    <input type="radio" id="crypto" name="topic" value="crypto">
    <label for="crypto">Crypto</label><br>

    <input type="radio" id="pwn" name="topic" value="pwn">
    <label for="pwn">Pwn</label><br>

    <input type="radio" id="reversing" name="topic" value="reversing">
    <label for="reversing">Reversing</label><br>

    <input type="radio" id="web" name="topic" value="web">
    <label for="web">Web</label><br>

    <input type="radio" id="mobile" name="topic" value="mobile">
    <label for="mobile">Mobile</label><br>

    <input type="radio" id="osint" name="topic" value="osint">
    <label for="osint">OSINT</label><br>

    <p>Image file:</p>
    <input type='file' name='image' accept=".jpg, .jpeg"/>
    <p>Needed files for the post.</p>

    <input type="file" name="file" accept=".zip, .txt, .rar .7z, .pdf">
    <p>Allowed formats:</p>
    <ul>
        <li>.zip</li>
        <li>.txt</li>
        <li>.rar</li>
        <li>.7z</li>
        <li>.pdf</li>
    </ul>
    <p>Date: </p>
    <input type="date" name="date">
    <input type='submit' value='Save'/>
</form>
</body>
</html>