<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>CyberSec Blog</title>
    <link href="/styles/common.css" rel="stylesheet">
</head>
<body>
<h1>New Writeup</h1>
<hr>
{{^id}}
<form action="/new" method="post" enctype="multipart/form-data">
    <input placeholder="Author" type='text' name='author' value='{{#author}}{{.}}{{/author}}' required>
    <input placeholder="Challenge name" type='text' name='title' required>
    <p></p>
    <textarea placeholder="Write your text here" name='text' rows=5 cols=40 required></textarea>
    <br>
    <br>
    <input type="radio" id="crypto" name="Category" value="crypto" required>
    <label for="crypto">Crypto</label><br>

    <input type="radio" id="pwn" name="Category" value="pwn">
    <label for="pwn">Pwn</label><br>

    <input type="radio" id="reversing" name="Category" value="reversing" required>
    <label for="reversing">Reversing</label><br>

    <input type="radio" id="web" name="Category" value="web" required>
    <label for="web">Web</label><br>

    <input type="radio" id="mobile" name="Category" value="mobile" required>
    <label for="mobile">Mobile</label><br>

    <input type="radio" id="osint" name="Category" value="osint" required>
    <label for="osint">OSINT</label><br>

    <p>Image file:</p>
    <input type='file' name='image' accept=".jpg, .jpeg"/>
    <br>
    <input type="file" name="file" accept=".zip, .txt, .rar .7z, .pdf">
    <p>Allowed formats:</p>
    <ul>
        <li>.zip</li>
        <li>.txt</li>
        <li>.rar</li>
        <li>.7z</li>
        <li>.pdf</li>
    </ul>
    <p>Date: </p>
    <input type="date" name="date">
    <button class="submit-btn" type='submit' value='Save'>Save</button>
</form>
{{/id}}
{{#id}}
<form action="/edit" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id" value="{{#id}}{{.}}{{/id}}">
    <input placeholder="Author" type='text' name='author' value='{{#author}}{{.}}{{/author}}' required>
    <input placeholder="Challenge name" type='text' name='title' value="{{#title}}{{.}}{{/title}}" required>
    <p></p>
    <textarea placeholder="Write your text here" name='text' rows=5 cols=40 required>{{#text}}{{.}}{{/text}}</textarea>
    <br>
    <br>

    <p>Date: </p>
    <input type="date" name="date">
    <button class="submit-btn" type='submit' value='Edit'>Edit</button>
</form>
{{/id}}
</body>
</html>