@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/keyboard_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.forum {
    filter: invert(100%);
}

.container {
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

header p {
    margin: 10px 0;
}

.category-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.category {
    /*background-color: rgba(255, 255, 255, 0.1); */
    /*background-color: rgba(255, 255, 255, 0.4); /* Fallback color */
    backdrop-filter: blur(35px); /* Adjust the blur value as needed */
    flex: 1 1 30%;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 5px;
    text-decoration: none;
    color: white;
    display: inline-block;
}

.category:hover {
    color: #0088a9;
    transition: all 0.3s ease 0s;
}

footer {
    margin-top: 50px;
}

.home {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
