<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/script.js"></script>
</head>
<body>
<form>
    <input type="radio" name="element" value="">
    <label for="Writeup">Writeup</label><br>
    <input type="radio" name="element" value="Challenge" >
    <label for="News">News</label><br>
    <input type="radio" name="element" value="CTF">
    <label for="CTF">CTF</label><br>
    <input type="radio" name="element" value="CTF">
    <label for="Discuss">Discussion forum</label><br>
</form>


</body>
</html>