<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CyberSecLabs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/changeme/styles.css">
</head>
<body>
<header>
    <div class="logo-container"><img class="logo" src="/static/images/logo4.jpg" alt="logo"><span>CyberSecLabs</span></div>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Writeups</a></li>
            <!--<li><a href="/posts">Forum</a></li>
            <li><a href="/todo">Events</a></li>-->
        </ul>
    </nav>
    <a class="cta" href="/login"><button>Login</button></a>
</header>
<hr>

<h1>Forums</h1>

{{#forums}}
<a href="forum/{{id}}">{{title}} by {{author}}</a><br>
{{/forums}}

{{^forums}}
<p>No posts yet.</p>
{{/forums}}

<br>
<a href="forum/new">New Forum</a>
</body>
</html>