<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CyberSecLabs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/forum_landing.css">
</head>
<body>
<header>
    <h1 class="logo-title"><a href="/">CyberSecLabs Community Forum</a></h1>
    <nav>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>

            {{#admin}}
                <li><a>Welcome, admin</a></li>
            {{/admin}}
            {{^admin}}
                <li><a class="cta" href="/login">Login</a></li>
            {{/admin}}
        </ul>
    </nav>
</header>
<hr>

<h2>Welcome to our vibrant community forum! Start exploring topics that interest you and contribute to the conversation.</h2>
<h2>You can also start a new conversation <a href="forum/new">here</a></h2>

<ul class="forum-nav-links">
{{#forums}}
    <li class="post-link"><a href="forum/{{id}}">{{title}} by <span style="font-weight: bold">{{author}}</span></a><br></li>
{{/forums}}
</ul>
{{^forums}}
    <p>No posts yet.</p>
{{/forums}}

<br>

</body>
</html>