<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CyberSecLabs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <div class="logo-container"><img class="logo" src="images/logo.jpeg" alt="logo"><span>CyberSecLabs</span></div>
    <nav>
        <ul class="nav-links">
            <li><a href="/writeups">Writeups</a></li>
            <li><a href="/posts">Forum</a></li>
            <li><a href="/todo">Events</a></li>
        </ul>
    </nav>
    <a class="cta" href="/todo"><button>Login</button></a>
</header>
<hr>

<h1>Posts</h1>

{{#posts}}
<a href="post/{{id}}">{{author}} {{title}}</a><br>
{{/posts}}

{{^posts}}
<p>No posts yet.</p>
{{/posts}}

<br>
<a href="post/new">New Post</a>
</body>
</html>