<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{writeup.title}}</title>
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/show_writeup.css">
</head>
<body>
<div class="writeup-header">
    <h1>{{writeup.title}}</h1>

    {{#writeup.date}}
    <p>{{writeup.author}} | {{writeup.date}}</p>
    {{/writeup.date}}

    {{^writeup.date}}
    <p>{{writeup.author}}</p>
    {{/writeup.date}}
</div>
<hr>
<div class="writeup-text-container">
    <p class="writeup-text">{{writeup.text}}</p>
</div>
{{#image}}
<img src="/writeup/{{writeup.id}}/image"> <!-- Use for background, etc -->
{{/image}}


{{#file}}
<div class="inline-container">
    <p>Download link:</p>
    <a href="/writeup/{{writeup.id}}/file?download=true">Download file</a>
</div>
{{/file}}

<a class="delete-writeup" href="/writeup/{{writeup.id}}/delete">Delete writeup</a>
<a href="/">Home</a>


    <p>Text: {{writeup.text}}</p>

    {{#image}}
        <img src="/writeup/{{writeup.id}}/image" style="max-width: 60%;">
    {{/image}}

    {{^image}}
        <p>No images found for this writeup.</p>
    {{/image}}

    {{#file}}
        <div class="inline-container">
            <p>Download link:</p>
            <a href="/writeup/{{writeup.id}}/file?download=true">Download file</a>
        </div>
    {{/file}}

    {{^file}}
        <p>No files attached to this writeup.</p>
    {{/file}}
    <hr>
    <a href="/writeup/{{writeup.id}}/delete">Delete writeup</a>

    <br>
    <a href="/writeup/{{writeup.id}}/edit">Edit writeup</a>

    <br>
    <br>

    <a href="/">Back</a>
</body>
</html>