<!DOCTYPE html>
<html lang="en">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    body{
        margin-left: 15px;
        background-image: url(/images/keyboard_bg.jpg);
        background-position: center;
        color: white;
        font-family: "Montserrat", sans-serif;
    }
</style>

<body>
<p>Author: {{event.author}}</p>
<p>Title: {{event.title}}</p>

{{#event.date}}
<p>Date: {{event.date}}</p>
{{/event.date}}

{{^event.date}}
<p>This event has no date assigned.</p>
{{/event.date}}

<p>Text: {{event.text}}</p>

{{#image}}
<img src="/event/{{event.id}}/image"> <!-- Use for background, etc -->
{{/image}}

{{^image}}
<p>No images found for this event.</p>
{{/image}}


<hr>
<a href="/event/{{event.id}}/delete">Delete event</a>
<br>
<br>

{{#participants}}
<ul>
    <li>{{participants}}</li>
</ul>
{{/participants}}

{{^participants}}
<p>No participants</p>
{{/participants}}

<hr>
<h2>Event Participation</h2>

<form id="/event/{{event.id}}/user" method="post" enctype="multipart/form-data">
    <label>Your Name:</label>
    <input type="text" name="name" required>
    <button type="submit" value="save">Participate</button>
</form>

<a href="/">Back</a>
</body>
</html>