<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{event.title}}</title>
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/show_forum.css">
</head>
<body>
<div class="forum-header">
    <h1>{{event.title}}</h1>

    {{#event.date}}
        <p>{{event.author}} | {{event.date}}</p>
    {{/event.date}}

    {{^event.date}}
        <p>{{event.author}}</p>
    {{/event.date}}
</div>
<hr>
<div class="forum-text-container">
    <p class="forum-text">{{event.text}}</p>
</div>
{{#image}}
    <img src="/event/{{event.id}}/image" style="max-width: 60%;">
{{/image}}


    <a class="delete-event" href="/event/{{event.id}}/delete">Delete event</a>
<a href="/">Home</a>
<br>
<br>
</body>
</html>