<!DOCTYPE html>
<html lang="en">
<body>
<p>Author: {{post.author}}</p>
<p>Title: {{post.title}}</p>

{{#post.date}}
    <p>Date: {{post.date}}</p>
{{/post.date}}

{{^post.date}}
    <p>This post has no date assigned.</p>
{{/post.date}}

<p>Text: {{post.text}}</p>

{{#image}}
    <img src="/post/{{post.id}}/image"> <!-- Use for background, etc -->
{{/image}}

{{^image}}
    <p>No images found for this post.</p>
{{/image}}

{{#file}}
    <div class="inline-container">
        <p>Download link:</p>
        <a href="/post/{{post.id}}/file?download=true">Download file</a>
    </div>
{{/file}}

{{^file}}
    <p>No files attached to this post.</p>
{{/file}}
<hr>
<a href="/post/{{post.id}}/delete">Delete post</a>
<br>
<br>

<a href="/">Back</a>
</body>
</html>