<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{forum.title}}</title>
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/show_forum.css">
</head>
<body>
<div class="forum-header">
    <h1>{{forum.title}}</h1>

    {{#forum.date}}
        <p>{{forum.author}} | {{forum.date}}</p>
    {{/forum.date}}

    {{^forum.date}}
        <p>{{forum.author}}</p>
    {{/forum.date}}
</div>
<hr>
<div class="forum-text-container">
    <p class="forum-text">{{forum.text}}</p>
</div>
{{#image}}
    <img src="/forum/{{forum.id}}/image" style="max-width: 60%;">
{{/image}}


{{#file}}
    <div class="inline-container">
        <p>Download link:</p>
        <a href="/forum/{{forum.id}}/file?download=true">Download file</a>
    </div>
{{/file}}
    <a class="delete-forum" href="/forum/{{forum.id}}/delete">Delete forum</a>
<a href="/">Home</a>
<br>
<br>

<hr>
<h2> Comments </h2>
<form action="/forum/{{forum.id}}/comments" method="post" enctype="multipart/form-data">
    <input placeholder="Author" type='text' name='author' value='{{#author}}{{.}}{{/author}}'/>
    <input type="date" name="date" required>
    <br>
    <br>
    <textarea placeholder="What do you want to say?" maxlength="500" type="text" name='text' rows=4 cols=75 required></textarea>
    <br>
    <br>
    <button type="submit" class="post-comment-btn">Post comment</button>
</form>
{{#comments}}
<br>
<div class="comment-container" >
        <div class="comment-header"><p>{{date}} by {{author}}</p></div>
        <p class="comment-text">{{text}}</p>
</div>
<br>
{{/comments}}

{{^comments}}
    <p>No one commented here yet, be the first!</p>
{{/comments}}


</body>
</html>