<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CyberSecLabs</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="/styles.css">-->
</head>
<body>
<header>
    <div class="logo-container"><img class="logo" src="/images/logo4.jpg" alt="logo"><span>CyberSecLabs</span></div>
    <nav>
        <ul class="nav-links">
            <li><a href="/forum">Forums</a></li>
            <!--<li><a href="/posts">Forum</a></li>
            <li><a href="/todo">Events</a></li>-->
        </ul>
    </nav>
    <a class="cta" href="/login"><button>Login</button></a>
</header>
<hr>

<h1>Writeups</h1>

{{#pwn}}
    {{>categories/pwn}}
{{/pwn}}

{{#reversing}}
    {{>categories/reversing}}
{{/reversing}}

{{#mobile}}
    {{>categories/mobile}}
{{/mobile}}

{{#web}}
    {{>categories/web}}
{{/web}}

{{#misc}}
    {{>categories/misc}}
{{/misc}}

{{#cryptography}}
    {{>categories/cryptography}}
{{/cryptography}}



<br>
<a href="writeup/new">New Writeup</a>
</body>
</html>