@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    margin: 20px 100px;
    background-image: url(../images/keyboard_bg.jpg);
    background-position: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    backdrop-filter: blur(10px);
    padding: 10px 20px 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}